<div class="navbar-fixed">
  <nav class="white z-depth-2">
    <div class="nav-wrapper">
      <a href="index.html"><img src="assets/img/icone/logo.png" class="logo"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="black-text" href="sobrenos.html">Sobre nós</a></li>
        <li><a class="black-text" href="planos.html">Planos</a></li>
        <li><a class="black-text" href="atendimento.html">Atendimento</a></li>
      </ul>
    </div>
  </nav>
</div>
<section>
  <div id="orientacao">
    <a href="index.html">Página Principal</a> > Atendimento
  </div>
  <div class="container">
    <br><h5><p class="center-align blue-text text-ligten-1"><b>Canais de Atendimento</b></p></h5>
    <ul materialize="collapsible" class="collapsible hoverable" data-collapsible="accordion" id="collapsible">
      <li>
        <div class="collapsible-header">
          <i class="material-icons prefix">call</i> Telefones para contato
        </div>
        <div class="collapsible-body">
          <ul>
            <li><b>Capitais e regiões metropolitanas:</b> 3003-4004</li>
            <li><b>Demais regiões:</b> 4004-3003</li>
            <li><b>Serviço de Atendimento ao Cliente:</b> 4003-3004</li>
          </ul> <br>
          Horário de atendimento: 
          <ul>
            <li><b>Segunda à Sexta:</b> 08:00 às 20:00</li>
            <li><b>Sábado, domingo e feriados:</b> 10:00 às 18:00</li>
          </ul>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons prefix">chat</i> Atendimento Online
        </div>
        <div class="collapsible-body">
          <ul>
            <li>Deseja um atendimento rápido e prático? <b>Fale já com a nossa atendente virtual!</b> <a class="right waves-effect waves-light btn" href="atendentevirtual.html" id="acesse">Acesse agora</a>
          </ul>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons prefix">email</i>E-mail
        </div>
        <div class="collapsible-body">
          <b>Para envio de declarações, comprovantes e outras solicitações:</b> atendimento@eskimedica.com.br
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons">announcement</i>Dúvidas, sugestões e reclamações
        </div>
        <div class="collapsible-body">
          <div class="row">
            <form>
              <div class="row">
                <div class="input-field col l6">
                  <input name="nome" id="nome" type="text" class="validate">
                  <label for="nome">Nome</label>
                </div>
                <div class="input-field col l6">
                  <input name="sobrenome" id="sobrenome" type="text" class="validate">
                  <label for="sobrenome">Sobrenome</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col l12">
                  <input name="email" id="email" type="email" class="validate">
                  <label for="email">E-mail</label>
                </div>
              </div>
              <div class="row" id="radio-buttons">
                Você é da rede de planos de saúde EskiMedica?
                <p><input name="cliente" type="radio" id="sim"/>
                <label for="sim">Sim</label></p>
                <input name="cliente" type="radio" id="nao" />
                <label for="nao">Não</label>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <textarea id="textarea1" class="materialize-textarea" data-length="500"></textarea>
                  <label for="textarea1">Qual sua dúvida, sugestão ou reclamação?</label>
                </div>
              </div>
            </form>
            <button class="blue lighten-1 right btn waves-effect waves-light" type="submit" name="action" id="button">Enviar<i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<footer class="white page-footer">
  <div class="container">
    <div class="row">
      <div class="col l3">
        <p id="titulo-footer">Serviços</p>
        <div id="minusculo">
          <ul>
            <li><a href="boletos.html">2ª via de boletos</a></li>
            <li><a href="agendamento.html">2ª via da carteirinha</a></li>
            <li><a href="resultado.html">Consulta de resultado de exame</a></li>
            <li><a href="agendamento.html">Marcação de exame</a></li>
          </ul>
        </div>
      </div>
      <div class="col l4 offset-l1">
        <p id="titulo-footer">Contatos</p>
        <div id="minusculo"> 
          <ul>
            <div class="black-text">
              <li>Capitais e regiões metropolitanas: 3003-4004</li>
              <li>Demais regiões: 4004-3003</li>
              <li>SAC: 4003-3004</li>
              <li>e-mail: atendimento@eskimedica.com.br</li>
            </div>
              <li><a href="atendentevirtual.html">Atendimento Online</a></li>
          </ul>
        </div>
      </div>
      <div class="col l3 offset-l1" id="footer-login">
        <a href="login.html">Faça seu login para mais serviços!</a>
      </div>
    </div>
  </div>
  <div class="grey lighten-2 footer-copyright">
    <div class="container">
      <div class="row" id="copyright">
        © 2018. EskiMedica Assistência de Saúde. Todos os direitos reservados.<br>
        CNPJ: 12.345.678/0001-90 <br>
        Rua Santa Heleninha, 639. Rio de Janeiro - RJ, CEP: 25123-456
      </div>
    </div>
  </div>
</footer>