<div class="body">
  <div class="navbar-fixed">
    <nav class="white z-depth-2">
      <div class="nav-wrapper">
        <a href="index.html"><img src="assets/img/icone/logo.png" class="logo"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a class="black-text" href="sobrenos.html">Sobre nós</a></li>
          <li><a class="black-text" href="planos.html">Planos</a></li>
          <li><a class="black-text" routerLink="/atendimento">Atendimento</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <section>
    <div class="container">
      <div class="row" id="linha1">
        <div class="col l5">
          <div class="card hoverable z-depth-2">
            <div class="card-image">
              <img src="assets/img/card/card-1.jpg" id="card-image">
              <span class="black-text card-title">Planos Individuais</span>
            </div>
            <div class="card-content">
              <p> Com assistência médica de excelência e preço acessível, oferecemos planos com alta qualidade para você.</p>
            </div>
            <div class="card-action">
              <a href="planos.html" id="click">Acesse agora</a>
            </div>
          </div>
        </div>
        <div class="col l5" id="card">
          <div class="card hoverable z-depth-2">
            <div class="card-image">
              <img src="assets/img/card/card-2.jpg">
              <span class="card-title" id="titulo">Planos Famílias</span>
            </div>
            <div class="card-content">
              <p>Planos Famílias com preços especiais para famílias moradores da favela da rocinha!</p>
            </div>
            <div class="card-action">
              <a href="planos.html" id="click">Acesse agora</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col l5">
          <div class="card hoverable z-depth-2">
            <div class="card-image">
              <img src="assets/img/card/card-3.jpg">
              <span class="black-text card-title">Planos Dentários</span>
            </div>
            <div class="card-content">
              <p>Planos odontológicos flexíveis que se adaptam às suas necessidades e desejos!</p>
            </div>
            <div class="card-action">
              <a href="planos.html" id="click">Acesse agora</a>
            </div>
          </div>
        </div>
        <div class="col l5" id="card">
          <div class="card hoverable z-depth-2">
            <div class="card-image">
              <img src="assets/img/card/card-4.jpg">
              <span class="card-title" id="titulo">Unidades</span>
            </div>
            <div class="card-content">
              <p>Veja no mapa a unidade dos nossos planos mais próxima e visite para cadastro ou marcação de consulta!</p>
            </div>
            <div class="card-action">
              <a href="mapa.html" id="click">Visite agora</a>
            </div>
          </div>
        </div>
    </div>
    </div>
  </section>
  <footer class="white page-footer">
    <div class="container">
      <div class="row">
        <div class="col l3">
          <p id="titulo-footer">Serviços</p>
          <div id="minusculo">
            <ul>
              <li><a href="boletos.html">2ª via de boletos</a></li>
              <li><a href="agendamento.html">2ª via da carteirinha</a></li>
              <li><a href="resultado.html">Consulta de resultado de exame</a></li>
              <li><a href="agendamento.html">Marcação de exame</a></li>
            </ul>
          </div>
        </div>
        <div class="col l4 offset-l1">
          <p id="titulo-footer">Contatos</p>
          <div id="minusculo"> 
            <ul>
              <div class="black-text">
                <li>Capitais e regiões metropolitanas: 3003-4004</li>
                <li>Demais regiões: 4004-3003</li>
                <li>SAC: 4003-3004</li>
                <li>e-mail: atendimento@eskimedica.com.br</li>
              </div>
                <li><a href="atendimento.html">Atendimento Online</a></li>
            </ul>
          </div>
        </div>
        <div class="col l3 offset-l1" id="footer-login">
          <a href="login.html">Faça seu login para mais serviços!</a>
        </div>
      </div>
    </div>
    <div class="grey lighten-2 footer-copyright">
      <div class="container">
        <div class="row" id="copyright">
          © 2018. EskiMedica Assistência de Saúde. Todos os direitos reservados.<br>
          CNPJ: 12.345.678/0001-90 <br>
          Rua Santa Heleninha, 639. Rio de Janeiro - RJ, CEP: 25123-456
        </div>
      </div>
    </div>
  </footer>
</div>